## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

## Load Dataset

In [46]:
raw_data = pd.read_csv("Online_Retail.csv",parse_dates=['InvoiceDate'])
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom

## Convert to Time series data

In [59]:
sales_data = raw_data.drop(['InvoiceNo','Description','CustomerID','Country','UnitPrice'], axis = 1)
sales_data['InvoiceDate'] = sales_data['InvoiceDate'].dt.date
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])
sales_data=sales_data.set_index('InvoiceDate')
sales_data.head()

            StockCode  Quantity
InvoiceDate
2010-01-12     85123A         6
2010-01-12      71053         6
2010-01-12     84406B         8
2010-01-12     84029G         6
2010-01-12     84029E         6

### Extracting one product out

In [60]:
sales_data.loc[sales_data['StockCode'] == '85123A']

            StockCode  Quantity
InvoiceDate
2010-01-12     85123A         6
2010-01-12     85123A         6
2010-01-12     85123A         6
2010-01-12     85123A        64
2010-01-12     85123A        32
2010-01-12     85123A         6
2010-01-12     85123A         4
2010-01-12     85123A         8
2010-01-12     85123A         6
2010-01-12     85123A         3
2010-01-12     85123A        32
2010-01-12     85123A         4
2010-01-12     85123A       128
2010-01-12     85123A       128
2010-01-12     85123A         6
2010-01-12     85123A         9
2010-01-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A         6
2010-02-12     85123A        12
2010-02-12     85123A         6
2010-02-12     85123A         1
2010-02-12     85123A        12
2010-02-12     85123A         6
2010-02-12     85123A        12
...               ...       ...
2011-06-12     85123A         9
2011-06-12     85123A         6
2011-06-12     85123A         6
2011-07-12     85123A        24
2011-07-12     85123A         6
2011-07-12     85123A        64
2011-07-12     85123A        18
2011-07-12     85123A         8
2011-07-12     85123A        32
2011-07-12     85123A         3
2011-07-12     85123A        32
2011-07-12     85123A         6
2011-07-12     85123A         6
2011-07-12     85123A         1
2011-08-12     85123A         1
2011-08-12     85123A         3
2011-08-12     85123A         1
2011-08-12     85123A         2
2011-08-12     85123A         4
2011-08-12     85123A         6
2011-08-12     85123A         6
2011-08-12     85123A         6
2011-08-12     85123A         4
2011-08-12     85123A         4
2011-08-12     85123A        32
2011-08-12     85123A         1
2011-08-12     85123A        32
2011-08-12     85123A         6
2011-09-12     85123A         3
2011-09-12     85123A         1

[2313 rows x 2 columns]